.toolbar {}

.content {
    margin-top: 50px;
}

.stepperclass {
    margin-top: 20px;
    padding-bottom: 10px;
}

.form {
    margin-top: 10px;
    margin-left: 10px;
    margin-Right: 10px;
}

.marginbottom {
    padding: 10px;
}