.rootcard {
    background-color: "#2196f3";
    max-width: 100%;
}

.mediaimg {
    flex-grow: 1;
}

.cardContent {
    display: flex;
    justify-content: space-between;
}

.cardAction {
    display: flex;
    justify-content: flex-end;
}